/* Styling for Shop Page of Muddy Paws */

/* FILTER COLUMNS */

#filter-options {
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
}

.col-12-5 {
  width: 12.5%;
  float: left;
}

.filter-size {
  position: relative;
}

.filter-color {
  position: relative;
}

.size-left {
  position: absolute;
  left: 30px;
}

.color-left {
  position: absolute;
  left: 60px;
}

.size-right,
.color-right {
  position: absolute;
  right: 0px;
}

/* FILTER CHECKBOXES */
input {
  margin: 0.5em;
}

.color-icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}
.strawb {
  background-color: #c32047;
}
.blackb {
  background-color: #17111e;
}
.crazyb {
  background-color: #70159a;
}
.fireorange {
  background-color: #ff6b00;
}

/* CLEAR ALL FILTERS BUTTON */

.filter-clear-all {
  text-align: center;
  margin-top: 20px;
}
#clear-filters {
  font-size: 0.8em;
  border-radius: 18px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 15px 5px 30px;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.25));

  position: relative;
}

#clear-icon {
  position: absolute;
  top: 5px;
  left: 10px;
}

/* SORT BY MENU */
#results {
}

#sort-by {
  text-align: right;
  display: block;
  margin-bottom: 15px;
}

.sort-menu {
  font-family: "Cabin", sans-serif;
  display: inline-block;
  margin-left: 10px;
}

/* PRODUCTS GRID */
#products-grid {
  display: block;
}

#products-grid .row {
  height: 425px;
}

.product-preview {
  height: 400px;
  padding: 20px 10px;

  text-align: center;
}

/* PRODUCT META */

.thumbnail {
  text-align: center;
  position: relative;
  width: 215px;
  height: 215px;
  overflow: hidden;
  margin: auto;
}

.thumbnail img {
  width: 100%;
  height: auto;

  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  object-fit: cover;
}

.product-meta {
  margin: 15px 0px;
}

.color-choices {
  text-align: left;
}

.color-choices .color-icon {
  height: 18px;
  width: 18px;
}

.product-name {
  margin: 0.1em;
}

.rating {
  margin-top: 0.5em;
  position: relative;
  text-align: left;
}

.rating img {
  padding: 0px;
}

.rating p {
  display: inline-block;
  font-style: italic;
  font-size: 0.8em;

  position: absolute;
  left: 105px;
  bottom: 0px;
}

.price {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.availability {
  position: relative;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 0.8em;
  padding: 6px 15px 6px 0px;
  width: 140px;
}

.availability p {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#checkmark,
#out-of-stock {
  position: absolute;
  right: 10px;
  bottom: 8px;
}

/* PAGINATION */
.pagination h6 {
  text-align: center;
  margin-top: 3em;
}
