/* Styling for Articles Page of Muddy Paws */

.row {
  padding-bottom: 30px;
}

#about-us p {
  line-height: 1.75em;
}

.about-image {
  margin-right: 15px;
}
.owners-text-container {
  padding-left: 15px;
}

.pittsburgh-text-container {
  padding-right: 15px;
}

.pittsburgh-image {
  margin-left: 15px;
}
